@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:lightcyan;">
    <h1 class="display-4" >Welcome to KhumaloCraft Emporium</h1>
    
</div>
<br />
<div>

    <h3 style="text-decoration: underline; ">Who are we</h3>
    <p>Khumalo Craft is an eccommerce store that aims at connecting artisians and customers 
    world-wide making the opportunities endless, artisians will no longer have an audience limited to foot traffic
    and collectors will find golden art work pieces from the comfort of their home.
    </p>


</div>
