@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Privacy Policy ("Policy") describes how Khumalo Craft ("we," "us," or "our") collects, uses, shares, and protects personal information from users of our website located at [Your Website Address] and any associated services (collectively, the "Site").</p>
